body {
    background-color: rgba(32, 32, 29, 0.801) ;
    color: rgb(0, 0, 0);
    column-gap: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}